src/flows/C501_SchedulerFlow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>423</locationX>
        <locationY>346</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GetEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>C501_SchedulerFlow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetUserEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <formulas>
        <name>GetEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Campaign Name: &quot; + {!varCampaign.Name} + &quot; User Id: &quot; + $User.Id</expression>
    </formulas>
    <formulas>
        <name>GetUserEmail</name>
        <dataType>String</dataType>
        <expression>IF($user.email = &quot;&quot;, &quot;daveb@501commons.org&quot;, $user.email)</expression>
    </formulas>
    <interviewLabel>C501_SchedulerFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>C501_SchedulerFlow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>267</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varScheduledFlow.Campaign__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>varCampaign.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCampaign.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduled_Flow</name>
        <label>Get Scheduled Flow</label>
        <locationX>97</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputScheduledFlowId</elementReference>
            </value>
        </filters>
        <object>C501_ScheduledFlow__c</object>
        <outputAssignments>
            <assignToReference>varScheduledFlow.Campaign__c</assignToReference>
            <field>Campaign__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varScheduledFlow.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Scheduled_Flow</startElementReference>
    <variables>
        <name>varCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>varInputScheduledFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a000S000001cWKpQAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>varScheduledFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C501_ScheduledFlow__c</objectType>
    </variables>
</Flow>
